POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
JWT_SECRET=EOuEd4clPiIoISCbPEw3WnH8NPI5Z0cpFSuYlsfJJPZ6QMx/DvezZUKg8Ey5skG4
INTERNAL_API_KEY=bdeb121b14a824c5f43cd674085c31af370bf1c3e2e6b72e9103ba7f28287785